@using VFT.CMS.Admin.ViewModels.Categories
@model IEnumerable<CategoryViewModel>


@{
    ViewData["Title"] = "Danh sách danh mục";
    Layout = "_Layout";
}


<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@ViewData["Title"]</h1>
                </div>

                <div class="col-sm-6">
                    <div class="float-sm-right">

                        <a class="btn btn-success btn-sm" asp-area="" asp-controller="Category" asp-action="Create">
                            <i class="fa-solid fa-square-plus"></i>
                            Thêm mới
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card">
            <div class="card-body p-0">
                <table class="table projects">
                    <thead>
                        <tr>
                            <th style="width: 5%">
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th class="text-center" style="width: 20%">CRUD</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td>@category.Id</td>
                                    <td>@category.Name</td>
                                    <td>@category.Description</td>
                                    <td class="project-actions text-right">
                                        <a asp-controller="Category" asp-action="Detail" asp-route-id="@category.Id" class="btn btn-primary btn-sm">
                                            <i class="fas fa-folder"></i>
                                            Chi tiết
                                        </a>
                                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-info btn-sm">
                                            <i class="fas fa-pencil-alt"></i>
                                            Sửa
                                        </a>
                                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                            Xóa
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    <div>
                                        No Products avaialble at this moment
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>