@model VFT.CMS.Admin.ViewModels.Roles.RoleViewModel

@{
	ViewData["Title"] = "Xóa quyền";
	Layout = "_Layout";
}



<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-10">
					<h1>@ViewData["Title"]</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="panel-body">
				<form method="post" asp-controller="Role" asp-action="Delete">
					<div class="row">
						<div class="col-lg-9 col-md-9">
							<div class="card">
								<div class="tab-content">
									<div id="Summery" class="">
										<div class="table-responsive panel">
											<table class="table">
												<tbody>
													<input type="hidden" asp-for="Id" />
													<tr>
														<td class="text-success">
															<i class="fa fa-user"></i>
															@Html.DisplayNameFor(model => model.Id)
														</td>
														<td>@Model.Id</td>
													</tr>
													<tr>
														<td class="text-success">
															<i class="fa fa-calendar"></i>
															@Html.DisplayNameFor(model => model.Name)
														</td>
														<td>@Model.Name</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="float-sm-right">
								<a href="/Role" class="btn btn-secondary">Hủy</a>
								<button type="submit" class="btn btn-danger">Xóa</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>