@model VFT.CMS.Admin.ViewModels.Products.CreateProductViewModel

@*@model VFT.CMS.Core.Product*@


@{
	ViewData["Title"] = "Thêm mới sản phẩm";
	Layout = "_Layout";
}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-10">
					<h1>@ViewData["Title"]</h1>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<form asp-controller="Product" asp-action="Create" method="post">
			<div class="row">
				<div class="col-md-6">
					<div class="card card-secondary">
						<div class="card-header">
							<h3 class="card-title">Thêm mới</h3>
						</div>
						<div class="card-body">
							<h4 class="text-danger">@ViewBag.message</h4>
							<div class="form-group">
								<label asp-for="Name" class="form-label">
									@Html.DisplayNameFor(model => model.Name)
								</label>
								<input asp-for="Name" type="text" class="form-control">
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Description" class="form-label">
									@Html.DisplayNameFor(model => model.Description)
								</label>
								<input asp-for="Description" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label asp-for="CategoryId" class="form-label">
									@Html.DisplayNameFor(model => model.CategoryId)
								</label>
								<select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control">
									<option>--Chọn danh mục--</option>
								</select>
								<span asp-validation-for="CategoryId" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Price" class="form-label">
									@Html.DisplayNameFor(model => model.Price)
								</label>
								<input asp-for="Price" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label asp-for="Quantity" class="form-label">
									@Html.DisplayNameFor(model => model.Quantity)
								</label>
								<input asp-for="Quantity" type="text" class="form-control">
							</div>
							
							<form action="/action_page.php">
								<p>Custom file:</p>
								<div class="custom-file mb-3">
									<input type="file" class="custom-file-input" id="customFile" name="filename">
									<label class="custom-file-label" for="customFile">Choose file</label>
								</div>
							</form>


						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
					<div class="float-sm-right">
						<a href="/Product" class="btn btn-secondary">Hủy</a>
						<button type="submit" class="btn btn-success">Thêm</button>
					</div>
				</div>
			</div>
		</form>
	</section>
	<!-- /.content -->
</div>


<script>
	// Add the following code if you want the name of the file appear on select
	$(".custom-file-input").on("change", function() {
	  var fileName = $(this).val().split("\\").pop();
	  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});
</script>